- var util = { 
- 	fixedEmpty: function(value,_default){
- 		if(value=='' || value==undefined || value==null||value == 'NULL'){
- 			return _default || '-';
- 		}else if(!isNaN(value)){
-			value = parseInt(value) == value ? value : value.toFixed(2)
-		}
- 		return value;
- 	},
-	formatMoney: function(_money,_digit) {
-		var tpMoney = '-';
-		var digit = _digit || 2;
-		if(undefined != _money){
-			tpMoney = _money;			
-		}
-		tpMoney = new Number(tpMoney);
-		if(isNaN(tpMoney)){
-			return '-';
-		}
-		tpMoney = tpMoney.toFixed(digit);
-		var re = /^(-?\d+)(\d{3})(\.?\d*)/;
-		while(re.test(tpMoney)){
-			tpMoney = tpMoney.replace(re,'$1,$2$3')	
-		}
-		return tpMoney + '元';
-	}
- }
div.profile-header
	| 客户综合信息 — #{database.cus_name}
	div.header-fr
		i.iconfont.profile-close &#xe639;
div.left-box
	div.title-top
		img.user-icon(src=require('../../../public/images/yc_logo.png'))
		p.text-title 邮储河北省分行
		p.text-small 信息科技部
		p.text-small 三农金融部 
	div.title-item.active 概览
	div.title-item(data-move='.base') 基本信息
	div.title-item 个贷指标
	//-
		div.title-item 行业关联
	//-
		div.title-item 行业统计
	div.title-item 资产信息
	div.title-item 信用卡
	div.title-item POS信息
	//-
		div.title-item.finance 理财
div.right-box
	div.swiper-container
		div.swiper-wrapper
			div.swiper-slide.home-slide
				div.info-card
					div.info-detail
						table.info-table
							tr
								td 
									span 客户姓名：
									| #{util.fixedEmpty(database.cus_name)}
							tr
								td 
									span 证件号：
									| #{util.fixedEmpty(database.certificate_code)}
							tr
								td 
									span 移动电话：
									| #{util.fixedEmpty(database.telFirst)}
							tr
								td 
									span 是否本地户口：
									| #{util.fixedEmpty(database.is_native_account)}
							tr
								td 
									span 教育水平：
									| #{util.fixedEmpty(database.educational_level)}
					div.info-title 客户基本信息
				div.info-card.card-col2
					div.info-title 个贷业务综合指标
					div.info-detail
						table.info-table
							tr
								td 
									span 已核销贷款笔数：
									| #{util.fixedEmpty(database.canceled_loan_cnt)}
								td
									span 在途贷款笔数：
									| #{util.fixedEmpty(database.curr_loan_cnt)}
							tr
								td 
									span 已核销贷款金额：
									| #{util.formatMoney(database.canceled_loan_amt)}
								td
									span 在途贷款金额：
									| #{util.formatMoney(database.curr_loan_amt)}
							tr
								td 
									span 历史逾期次数：
									| #{util.fixedEmpty(database.overdue_times_his)}
								td
									span 在途贷款余额：
									| #{util.formatMoney(database.curr_loan_bal)}	
							tr
								td 
									span 历史逾期本金：
									| #{util.formatMoney(database.overdue_capital_his)}

				//-本次不上线
					div.info-card
						div.info-title 行业关联信息
						div.info-detail
							table.info-table
								tr
									td 
										span 客户与行业关联度：
										| #{util.fixedEmpty(database.rate)}	
								tr
									td 
										span 关联度排名：
										| #{util.fixedEmpty(database.rn)}
								tr
									td
										span 行业名称：
										| #{util.fixedEmpty(database.industry_name)}
				//-
					div.info-card.card-col2
						div.info-title 按行业统计指标
						div.info-detail
							table.info-table
								tr
									td(colspan='2')
										span 市行名称：
										| #{util.fixedEmpty(database.city_name)} 
								tr
									td 
										span 贷款总计：
										| #{util.fixedEmpty(database.loan_cnt)}笔，共#{util.formatMoney(database.loan_amt)}
									td 
										span 在途贷款：
										| #{util.fixedEmpty(database.loan_cnt_curr)}笔，共#{util.formatMoney(database.loan_amt_curr)}
								tr
									td 
										span 在途贷款余额：
										| #{util.formatMoney(database.loan_bal_curr)}
									td 
										span 不良贷款笔数：
										| #{util.fixedEmpty(database.nonp_loan_cnt)}
								tr
									td 
										span 不良率：
										| #{util.fixedEmpty(database.nonp_loan_bal_rate)}
									td 
										span 不良等级：
										| #{util.fixedEmpty(database.nonp_loan_lvl)}
				div.info-card.card-col2
					div.info-title POS信息
					div.info-detail
						table.info-table
							tr
								td 
									span 商户名称：
									| #{util.fixedEmpty(database.mer_name)}
							tr
								td
									span 营业执照注册地址：
									| #{util.fixedEmpty(database.bus_lic_reg_addr)}
							tr
								td
									span 商户法定代表人姓名：
									| #{util.fixedEmpty(database.mer_legal_name)}
							tr
								td
									span 商户拥有的pos数量：
									| #{util.fixedEmpty(database.pos_cnt)}
							tr
								td
									span 近一年月均交易金额：
									| #{util.formatMoney(database.total_amt_ly)}
				div.info-card
					div.info-title 资产信息
					div.info-detail
						table.info-table
							tr
								td 
									span 最早开户日期：
									| #{util.fixedEmpty(database.cd_earliest_open_date)}
							tr
								td 
									span 活期余额：
									| #{util.formatMoney(database.cdm_bal_sum)}
							tr
								td 
									span 定期余额：
									| #{util.formatMoney(database.fix_bal_sum)}
							tr
								td 
									span 年月均交易额：
									| #{util.formatMoney(database.avg_amt_yearly)}
							tr
								td 
									span 年月均交易次数：
									| #{util.fixedEmpty(database.avg_cnt_yearly)}
				div.info-card
					div.info-title 理财信息
					div.info-detail
						table.info-table
							tr
								td 
									span 购买基金金额：
									| #{util.formatMoney(database.fund_amt)}
							tr
								td 
									span 购买理财金额：
									| #{util.formatMoney(database.financing_amt)}
							tr
								td 
									span 购买国债金额：
									| #{util.formatMoney(database.national_debt_amt)}
							tr
								td
									span 购买保险金额：
									| #{util.formatMoney(database.insurance_amt)}
				div.info-card.card-col2
					div.info-title 信用卡信息
					div.info-detail
						table.info-table
							tr
								td 
									span 信用卡数量：
									| #{util.fixedEmpty(database.credist_card_cnt)}
								td 
									span 最早办理日期：
									| #{util.fixedEmpty(database.earliest_open_date)}
							tr
								td 
									span 信用卡账户数：
									| #{util.fixedEmpty(database.acct_num_cnt)}
								td 
									span 最晚注销日期：
									| #{util.fixedEmpty(database.latest_close_date)}
							tr
								td 
									span 最低授信额度：
									| #{util.formatMoney(database.credit_line_min)}
								td 
									span 最高授信额度：
									| #{util.formatMoney(database.credit_line_max)}
							tr
								td(colspan='2')
									span 近一年月均消费金额：
									| #{util.formatMoney(database.amt_sum_consume)}
							tr
								td(colspan='2')
									span 近一年月均消费次数：
									| #{util.fixedEmpty(database.cnt_sum_consume)}
				div(style='clear:both;')
			div#slide-base.swiper-slide.detail-slide
				div.info-detail.first-info
					div.detail-title
						strong #{util.fixedEmpty(database.cus_name)}
					div.detail-body
						table.info-table
							tr
								td 
									b 移动电话：
									| #{util.fixedEmpty(database.telArr[0])}
									each item,index in database.telArr
										-if(index > 0 && item != '')
											p.base-tel-arr #{util.fixedEmpty(item)}
							tr 
								td 
									b 证件号码：
									| #{util.fixedEmpty(database.certificate_code)}
							tr
								td 
									b 是否本地户口：
									| #{util.fixedEmpty(database.is_native_account)}
							tr
								td 
									b 是否居住满一年：
									| #{util.fixedEmpty(database.rsd_year_flag)}
							tr
								td
									b 教育水平：
									| #{util.fixedEmpty(database.educational_level)}
							tr
								td 
									b 月收入：
									| #{util.formatMoney(database.monthly_profit)}
			div#slide-composite.swiper-slide.detail-slide
				div.info-detail.first-info
					div.detail-title
						strong 个贷业务综合指标
					div.detail-body
						table.info-table								
							tr
								td
									b 已拒贷贷款笔数：
									| #{util.fixedEmpty(database.rejected_loan_cnt)}
							tr
								td 
									b 已拒贷贷款金额：
									| #{util.formatMoney(database.rejected_loan_amt)}
							tr
								td 
									b 已核销贷款笔数：
									| #{util.fixedEmpty(database.canceled_loan_cnt)}
							tr
								td 
									b 已核销贷款金额：
									| #{util.formatMoney(database.canceled_loan_amt)}
							tr
								td 
									b 在途贷款笔数：
									| #{util.fixedEmpty(database.curr_loan_cnt)}
							tr
								td
									b 在途贷款金额：
									| #{util.formatMoney(database.curr_loan_amt)}
							tr
								td 
									b 在途贷款余额：
									| #{util.formatMoney(database.curr_loan_bal)}
							tr
								td
									b 历史逾期次数： 
									| #{util.fixedEmpty(database.overdue_times_his)}
							tr
								td 
									b 历史逾期本金：
									| #{util.formatMoney(database.overdue_capital_his)}
			div.swiper-slide.detail-slide
				div.info-detail
					div.detail-title
						strong 合计：#{util.fixedEmpty(database.media_cnt)}
					div.detail-body
						table.info-table								
							tr
								td 
									b 卡的数量：
									| #{util.fixedEmpty(database.cnt_card)}
								td 
									b 活期一本通数量：
									| #{util.fixedEmpty(database.cnt_onebk_cdm)}
								td 
									b 定期一本通数量：
									| #{util.fixedEmpty(database.cnt_onebk_fix)}
							tr
								td
									b 折的数量：
									| #{util.fixedEmpty(database.cnt_book)}
								td 
									b 活期折的数量：
									| #{util.fixedEmpty(database.cnt_book_cdm)}
								td
									b 定期折的数量： 
									| #{util.fixedEmpty(database.cnt_book_fix)}
							tr
								td
									b 单的数量：
									| #{util.fixedEmpty(database.cnt_bill)}
								td 
									b 外币定期单的数量：
									| #{util.fixedEmpty(database.cnt_bill_foreign)}
								td
									b 未知类型： 
									| #{util.fixedEmpty(database.cnt_none)}
				div.info-detail
					div.detail-title
						strong 合计：#{util.formatMoney(database.total_savings_amt)}
					div.detail-body
						table.info-table
							tr
								td
									b 活期余额：
									| #{util.formatMoney(database.cdm_bal_sum)}
								td
									b 购买理财：
									| #{util.formatMoney(database.financing_amt)}
								td
									b 购买基金：
									| #{util.formatMoney(database.fund_amt)}								
							tr
								td
									b 定期余额：
									| #{util.formatMoney(database.fix_bal_sum)}
								td
									b 购买国债：
									| #{util.formatMoney(database.national_debt_amt)}
								td
									b 购买保险：
									| #{util.formatMoney(database.insurance_amt)}
				div.info-detail
					div.detail-title
						strong 近一年月均交易金额：#{util.formatMoney(database.avg_amt_yearly)}
					div.detail-body.detail-items(style="height:170px;")
						table.info-table
							-if(assetsMonthlyStat){			
								each assetStat,index in assetsMonthlyStat						
									if(index%2==0)
										tr
											td
												b 交易日期：
												span= assetStat.tb_ml_cpv_assets_monthly_stat.summ_mon
											td 
												b 交易金额：
												span #{util.formatMoney(assetStat.tb_ml_cpv_assets_monthly_stat.trans_amt)}
											td 
												b 交易次数：
												span= assetStat.tb_ml_cpv_assets_monthly_stat.trans_cnt
									else
										tr.even
											td
												b 交易日期：
												span= assetStat.tb_ml_cpv_assets_monthly_stat.summ_mon
											td 
												b 交易金额：
												span #{util.formatMoney(assetStat.tb_ml_cpv_assets_monthly_stat.trans_amt)}
											td 
												b 交易次数：
												span= assetStat.tb_ml_cpv_assets_monthly_stat.trans_cnt
							-}
			div.swiper-slide.detail-slide
				div.info-detail.first-info
					table.info-table								
						tr
							td
								b 信用卡数量：
								| #{util.fixedEmpty(database.credist_card_cnt)}
							td 
								b 近一年月均消费次数： 
								| #{util.fixedEmpty(database.cnt_sum_consume)}
						tr
							td
								b 信用卡账户数：
								| #{util.fixedEmpty(database.acct_num_cnt)}
							td
								b 近一年月均取现金额： 
								| #{util.formatMoney(database.amt_sum_withdrawl)}
						tr
							td 
								b 办理日期(最早)：
								| #{util.fixedEmpty(database.earliest_open_date)}
							td 
								b 近一年月均取现次数： 
								| #{util.fixedEmpty(database.cnt_sum_withdrawl)}	
						tr
							td 
								b 注销日期(最晚)：
								| #{util.fixedEmpty(database.latest_close_date)}
							td
								b 近一年月均利息金额： 
								| #{util.formatMoney(database.amt_sum_interest)}
						tr
							td 
								b 最低授信额度：
								| #{util.formatMoney(database.credit_line_min)}
							td 
								b 近一年月均利息次数： 
								| #{util.fixedEmpty(database.cnt_sum_interest)}
						tr
							td
								b 最高授信额度：
								| #{util.formatMoney(database.credit_line_max)}
							td
								b 近一年月均费用金额： 
								| #{util.formatMoney(database.amt_sum_fee)}
						tr
							td 
								b 累计授信额度：
								| #{util.formatMoney(database.credit_line_sum)}
							td
								b 近一年月均费用次数：
								| #{util.fixedEmpty(database.cnt_sum_fee)}
						tr
							td 
								b 逾期天数：
								| #{util.fixedEmpty(database.overdue_days)}
							td
								b 逾期数：
								| #{util.fixedEmpty(database.overdue_terms)}
				div.info-detail
					div.detail-title
						strong 近一年月均消费金额：#{util.formatMoney(database.amt_sum_consume)}
					div.detail-body.detail-items(style="height:188px;")								
						table.info-table
							-if(customerCreditCardInfo && customerCreditCardInfo){		
								each assetStat,index in customerCreditCardInfo						
									if(index%2==0)
										tr
											td
												b 统计月份：
												span= assetStat.tb_ml_cpv_credit_monthly_trans_stat.summ_mon
											td 
												b 交易金额：
												span #{util.formatMoney(assetStat.tb_ml_cpv_credit_monthly_trans_stat.trans_amt)}
											td 
												b 交易次数：
												span= assetStat.tb_ml_cpv_credit_monthly_trans_stat.trans_cnt
									else
										tr.even
											td
												b 统计月份：
												span= assetStat.tb_ml_cpv_credit_monthly_trans_stat.summ_mon
											td 
												b 交易金额：
												span #{util.formatMoney(assetStat.tb_ml_cpv_credit_monthly_trans_stat.trans_amt)}
											td 
												b 交易次数：
												span= assetStat.tb_ml_cpv_credit_monthly_trans_stat.trans_cnt
							-}
			div.swiper-slide.detail-slide
				div.info-detail.first-info
					div.detail-title
						strong 商户名称：#{util.fixedEmpty(database.mer_name)}
					div.detail-body
						table.info-table								
							tr
								td
									b 商户法定代表人姓名：
									| #{util.fixedEmpty(database.mer_legal_name)}
							tr
								td 
									b 商户拥有pos数量：
									| #{util.fixedEmpty(database.pos_cnt)}
							tr
								td(colspan='2') 
									b 营业执照注册地址：
									| #{util.fixedEmpty(database.bus_lic_reg_addr)}
				div.info-detail
					div.detail-title
						strong 近一年月均交易金额: #{util.formatMoney(database.total_amt_ly)}
					div.detail-body#pos-monthly.detail-items(style="height:240px;")
						table.info-table
							-for(var i=1;i<=12;i++){
								-var key = 'trans_amt_' + i;
								-if(i%2==0)
									tr
										td 
											b 统计月份：
											| #{moment().subtract(i,'M').format('YYYY-MM')}
										td
											b 交易金额：
											| #{util.formatMoney(database[key])}
								-else
									tr.even
										td 
											b 统计月份：
											| #{moment().subtract(i,'M').format('YYYY-MM')}
										td
											b 交易金额：
											| #{util.formatMoney(database[key])}
							-}
			//-				
				div.slide-finance.swiper-slide.detail-slide
					div.info-detail.first-info
						div.detail-title
							strong 理财信息
						div.detail-body
							table.info-table								
								tr
									td
										b 购买基金：
										| #{util.formatMoney(database.fund_amt)}
									td
										b 购买理财：
										| #{util.formatMoney(database.financing_amt)}
								tr
									td
										b 购买国债：
										| #{util.formatMoney(database.national_debt_amt)}
									td
										b 购买保险：
										| #{util.formatMoney(database.insurance_amt)}
div(style='clear:both;')
div.profile-footer