- var util = { 
- 	fixedEmpty: function(value,_default){
- 		if(value=='' || value==undefined || value==null||value == 'NULL'){
- 			return _default || '-';
- 		}else if(!isNaN(value)){
-			value = parseInt(value) == value ? value : value.toFixed(2)
-		}
- 		return value;
- 	},
-	formatMoney: function(_money,_digit) {
-		var tpMoney = '-';
-		var digit = _digit || 2;
-		if(undefined != _money){
-			tpMoney = _money;			
-		}
-		tpMoney = new Number(tpMoney);
-		if(isNaN(tpMoney)){
-			return '-';
-		}
-		tpMoney = tpMoney.toFixed(digit);
-		var re = /^(-?\d+)(\d{3})(\.?\d*)/;
-		while(re.test(tpMoney)){
-			tpMoney = tpMoney.replace(re,'$1,$2$3')	
-		}
-		return tpMoney;
-	}
- }
table.industyr-info
	tr
		td.industry-name
			b 行业名称：
			= util.fixedEmpty(record.industry_name)
		td.industry-name
			b 机构名称：
			= util.fixedEmpty(record.city_name)
	tr
		td.nonp-lvl
			b 资产质量等级：
			-if(record.nonp_loan_lvl == 'unknown'){
				#{util.fixedEmpty(record.nonp_loan_lvl)}
			-}else{
				-var star = record.nonp_loan_lvl;
				-var unstar = 5-star;
				-for(var i = 0;i< star;i++){
					i.iconfont.__star &#xe63c;
				-}
				-for(var i = 0;i< unstar;i++){
					i.iconfont.__unstar &#xe63c;
				-}
			-}
			i= record.starTitle
			//-
				div.tips-holder
					i.iconfont.lvl-tips &#xe621;
					div.tips-info
						li 5颗星对应不良率区间 (0,0.5%]
						li 4颗星对应不良率区间 (0.5%,2%]
						li 3颗星对应不良率区间 (2%,3%]
						li 2颗星对应不良率区间 (3%,5%]
						li 1颗星对应不良率区间 (5%,100%]
		td
			b 贷款总笔数：
			= util.fixedEmpty(record.loan_cnt)
	tr
		td
			b 不良率：
			| #{util.fixedEmpty(record.nonp_loan_bal_rate)} 
		td
			b 贷款总金额：
			| #{util.formatMoney(record.loan_amt/10000)} 万元
	tr
		td
			b 不良贷款笔数：
			= util.fixedEmpty(record.nonp_loan_cnt)
		td
			b 结存贷款笔数：
			= util.fixedEmpty(record.loan_cnt_curr)
	tr
		td
			b 不良贷款余额：
			| #{util.formatMoney(record.nonp_loan_bal/10000)} 万元	
		td
			b 结存贷款金额：
			| #{util.formatMoney(record.loan_amt_curr/10000)} 万元
	tr
		td
			b 逾期率：
			| #{util.fixedEmpty(record.overdue_loan_bal_rate)}
		td
			b 结存贷款余额：
			| #{util.formatMoney(record.loan_bal_curr/10000)} 万元



	